<html>

<head>
    <link rel="stylesheet" type="text/css" href="./component/header/header.css" />
</head>

<body>
    <div class="header-container">
        <div class="header-description">
            <div class="header-description__title">
                <h5>Hello</h5>
                <h2>I am John Deo</h2>
                <h4>Visual Designer & Front-end Developer</h4>
            </div>
            <div class="header-description__media-icons" id="headerMediaIcons">
                <!-- this is rendered by js -->
            </div>
            <script type="text/javascript" src="./component/header/header.js"></script>
        </div>
        <div class="header-background-cover"></div>
        <img class="header-background" src="./assets/images/header-banner.jpg" alt="banner for header ">
    </div>
</body>

</html>