<html>

<head>
    <link rel="stylesheet" href="/component/services/services.css">
</head>

<body>
    <div class="services-container">
        <div class="services-title">
            <h2>What I'm Doing</h2>
            <p>I love what I do. I take great pride in what I do.</p>
            <span class="bottom-line"></span>
        </div>
        <div class="services-card-container">
            <ul class="services-card-items" id="servicesCardContainer">
                <!-- this is rendered by js -->
            </ul>
            <script src="./component/services/services.js"></script>
        </div>
    </div>
</body>

</html>