<html>

<head>
    <link rel="stylesheet" href="./component/contact/contact.css">
</head>

<body>
    <div class="contact-container">
        <div class="col-3 col-s-8 contact-info-container">
            <h2>Contact Info</h2>
            <ul class="contact-info-items" id="contactInfoItems">
                <!-- this is rendered by js -->
            </ul>
        </div>
        <div class="col-4 col-s-9 contact-feedback-container">
            <h2>Contact Form</h2>
            <ul class="contact-feedback-items" id="contactFeedbackItems">
                <!-- this is rendered by js -->
            </ul>
            <textarea class="form-control textarea" placeholder="Your Message*" cols="20" rows="5"></textarea>
            <button class="contact-feedback__button">Send Massage</button>
        </div>
        <script src="./component/contact/contact.js"></script>
    </div>
   
</body>

</html>