.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 80px;
}

.about-description {
  max-width: 30%;
  padding-right: 3rem;
}
/* description content*/
.about-description__content {
  width: 100%;
}
.about-description__content h6 {
  color: #999; /* gray */
  margin-bottom: 2rem;
}
.about-description__content p {
  margin-bottom: 2rem;
}
/* button  */
.about-description__button {
  display: inline;
}
.about-description__buttons button {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 36px;
  margin-right: 0.8rem;
}

