@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Lora:ital");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: all 0.3s ease-in-out;
}
h2,
h4,
h5,
h6 {
  font-family: "Montserrat", Sans-serif;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  color: #040c2c; /* dark blue */
}

h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
  letter-spacing: 1px;
}
p {
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  color: #797979;
}
.fa {
  font-size: 1em;
}
section {
  align-items: center;
}
button {
  font-size: 14px;
  position: relative;
  background-color: white;
  font-family: Montserrat, sans-serif;
  border: 2px solid #040c2c;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  min-width: 140px;
}
button:nth-child(1) {
  color: white;
}
button:before {
  content: "";
  position: absolute;
  background-color: #040c2c; /* dark blue */
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  border-radius: 1px;
  background: #040c2c; /* dark blue */
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

button:hover:before,
button:hover {
  transform: scaleX(1);
  color: white;
}
/* hire button */
button:nth-child(1):before {
  transform: scaleX(1);
}
button:nth-child(1):hover:before {
  transform: scaleX(0);
}
button:nth-child(1):hover {
  color: #040c2c;
}
/* navbar */

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nav-link {
  display: block;
  color: white;
  font-family: Montserrat, sans-serif;
  position: relative;
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.nav-item {
  list-style-type: none;
}

.logo {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("./../images/logo-white.png");
  background-repeat: no-repeat;
}
.login-button {
  height: 100%;
  padding: 15px 34px;
  border-width: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-style: none;
}
.login-button.button-two {
  display: none;
}
.hamburger-menu {
  display: none;
}
.hamburger-menu .line {
  background-color: #040c2c; /* dark blue */
  height: 2px;
  width: 30px;
  margin-bottom: 5px;
}
.navbar-container.nav-scroll {
  background-color: white;
}
.navbar-container.nav-scroll .logo {
  background-image: url("./../images/logo.png");
}
.navbar-container.nav-scroll .nav-link {
  color: #040c2c;
}
.navbar-container.nav-scroll .login-button {
  border-style: solid;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.3px;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-link.active::before,
.nav-link:hover:before {
  width: 100%;
  left: 0;
}
.navbar-container.nav-scroll .nav-link.active::before,
.navbar-container.nav-scroll .nav-link:hover:before {
  background-color: #040c2c;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    justify-content: space-between;
  }
  .login-button {
    display: none;
    margin-right: 20px;
  }
  .login-button.button-two {
    display: inline-block;
    margin-left: auto;
  }
  .menu-items {
    display: none;
    justify-content: left;
    align-items: flex-start;
    background-color: white;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-items .nav-link {
    color: #040c2c;
  }
  .menu-items .nav-link:before {
    background-color: #040c2c;
  }
  .menu-items.active {
    display: flex;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* footer */

.footer-container {
  background-color: #040c2c;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.footer-container img {
  margin-bottom: 1.8rem;
}
.footer-media-items {
  display: flex;
  flex-direction: row;
}
.footer-media-items .media-icon {
  border: 1px solid white;
  width: 35px;
  height: 35px;
  margin: 0.8rem 0.4rem;
  text-align: center;
}
.footer-author {
  text-align: center;
}
.footer-author h6 {
  font: 400 14px/20px Lora, serif;
  color: #999;
  padding-top: 0.5rem;
}
.footer-author h6 a {
  color: white;
  text-decoration: none;
}
.footer-author p {
  font: 400 10px/18px Montserrat, sans-serif;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* responsive */

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  width: 100%;
  float: left;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
